<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>مشتل</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.3</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>userapp</string>
          <string>com.mashtlapp.user</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>exp+mashtl</string>
        </array>
      </dict>
    </array>
	<key>CFBundleVersion</key>
	<string>1.3.3</string>
    <key>GMSApiKey</key>
    <string>AIzaSyAymUZ38EmOE01tkStI0Rtm0YeYOIU5kYw</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
      <key>NSAllowsArbitraryLoadsInWebContent</key>
      <true/>
      <key>NSAllowsArbitraryLoadsForMedia</key>
      <true/>
      <key>NSAllowsArbitraryLoadsForWebContent</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>178.128.194.234</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSExceptionAllowsArbitraryLoads</key>
          <true/>
          <key>NSExceptionAllowsInsecureHTTPSLoads</key>
          <true/>
          <key>NSExceptionMinimumTLSVersion</key>
          <string>TLSv1.0</string>
          <key>NSExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSExceptionAllowsArbitraryLoadsInWebContent</key>
          <true/>
          <key>NSExceptionAllowsArbitraryLoadsForMedia</key>
          <true/>
          <key>NSExceptionAllowsArbitraryLoadsForWebContent</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>mashtl.com</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSExceptionAllowsArbitraryLoads</key>
          <true/>
          <key>NSExceptionAllowsInsecureHTTPSLoads</key>
          <true/>
          <key>NSExceptionMinimumTLSVersion</key>
          <string>TLSv1.0</string>
          <key>NSExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSExceptionAllowsArbitraryLoadsInWebContent</key>
          <true/>
          <key>NSExceptionAllowsArbitraryLoadsForMedia</key>
          <true/>
          <key>NSExceptionAllowsArbitraryLoadsForWebContent</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>يحتاج التطبيق إذن الوصول للكاميرا لالتقاط صور المنتجات الزراعية والمحاصيل التي تريد طلب خدمات لها. سيتم استخدام الصور لتحديد نوع المحصول وتقديم الخدمات المناسبة</string>
    <key>NSContactsUsageDescription</key>
    <string>نحتاج إذن الوصول للاتصالات لإرسال رموز التحقق عبر الرسائل النصية</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>يستخدم التطبيق موقعك لعرض المزارعين القريبين منك وتسهيل طلب الخدمات الزراعية. يمكنك تحديد موقعك يدوياً إذا لم ترد مشاركة الموقع</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>يحتاج التطبيق إذن الوصول للموقع لتحديد المزارعين القريبين منك وتسهيل طلب الخدمات الزراعية. يمكنك تحديد موقعك يدوياً إذا لم ترد مشاركة الموقع</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>يستخدم التطبيق موقعك لعرض المزارعين القريبين منك وتسهيل طلب الخدمات الزراعية. يمكنك تحديد موقعك يدوياً إذا لم ترد مشاركة الموقع</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>يحتاج التطبيق إذن الوصول للميكروفون لتسجيل الرسائل الصوتية مع المزارعين وتسهيل التواصل أثناء طلب الخدمات الزراعية</string>
    <key>NSPhoneNumberUsageDescription</key>
    <string>نحتاج إذن الوصول لرقم الهاتف للتحقق من هويتك</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>يحتاج التطبيق إذن حفظ الصور في مكتبة الصور لحفظ صور المنتجات الزراعية والمحاصيل التي تم التقاطها لتقديم الخدمات المناسبة</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>يحتاج التطبيق إذن الوصول لمكتبة الصور لاختيار صور المنتجات الزراعية والمحاصيل الموجودة مسبقاً لتقديم الخدمات المناسبة</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>يحتاج التطبيق إذن التتبع لتحسين تجربة المستخدم وتقديم خدمات مخصصة. سيتم استخدام البيانات لتطوير الخدمات الزراعية وتسهيل التواصل مع المزارعين</string>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>يحتاج التطبيق إذن الوصول لمجلد المستندات لرفع الملفات والمستندات المتعلقة بالخدمات الزراعية مثل الفواتير والشهادات الزراعية</string>
    <key>NSDownloadsFolderUsageDescription</key>
    <string>يحتاج التطبيق إذن الوصول لمجلد التحميلات لتحميل الملفات والمستندات المتعلقة بالخدمات الزراعية مثل الفواتير والشهادات</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>